body {
    font-family: 'Open Sans', sans-serif;
    background: #16a085;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.container:hover {
    background: #f7f3f3;
}

.seleciona-formula {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 20px;
}

.seleciona-formula {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #1e5799, #16a085);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}


.seleciona-formula label {
    font-size: 1.2em;
    color: #fff;
}

.seleciona-formula div {
    margin-bottom: 10px;
}

.seleciona-formula i {
    margin-right: 10px;
    color: #fff;
}

#parametros {
    width: 85%;
    margin: auto;
    padding: 20px;
    background: #f7f3f3;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    transition: background 0.3s ease;
}

#parametros:hover {
    background: #fff;
}

#parametros div {
    margin-bottom: 15px;
}

#parametros label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}

#parametros input[type="text"] {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#resultado {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 40px 0;
    padding: 20px;
    background: #333;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

input[type="submit"] {
    display: block;
    width: 80px;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

.pai {
    display: flex;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* animação de fade-in ao carregar */
body {
    animation: fadein 4s;
}